[submodule "Medium-Reader"]
	path = ./LBT-LGV/Medium-Reader
	url = https://github.com/keweiyao/Medium-Reader.git
[submodule "Event"]
	path = ./LBT-LGV/Event
	url = https://github.com/keweiyao/Event.git
[submodule "HQ-Evo"]
	path = ./LBT-LGV/HQ-Evo
	url = https://github.com/keweiyao/HQ-Evo.git
[submodule "LB-docs"]
	path = LB-docs
	url = https://github.com/keweiyao/LB-doc.git
[submodule "vishnew"]
	path = vishnew
	url = https://github.com/keweiyao/vishnew.git
[submodule "trento"]
	path = trento
	url = https://github.com/Duke-QCD/trento.git
