[submodule "Medium-Reader"]
	path = Medium-Reader
	url = https://github.com/keweiyao/Medium-Reader.git
[submodule "Event"]
	path = Event
	url = https://github.com/keweiyao/Event.git
[submodule "HQ-Evo"]
	path = HQ-Evo
	url = https://github.com/keweiyao/HQ-Evo.git
[submodule "LB-docs"]
	path = LB-docs
	url = https://github.com/keweiyao/LB-doc.git
[submodule "vishnew"]
	path = vishnew
	url = https://github.com/keweiyao/vishnew.git
